<div class="container-fluid g-0">
  <!-- Header Component -->
  <app-header (sideNavToggled)="sideNavStatus = $event;"></app-header>

  <main>
    <!-- Side Navigation Component -->
    <app-side-nav 
      [sideNavStatus]="sideNavStatus" 
      [ngClass]="{'app-side-nav-open': sideNavStatus}">
    </app-side-nav>
 
    <!-- Main Display Area -->
    <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">
      <!-- Routed components will be displayed here -->
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
