<div class="container">
    <h2>Dashboard Overview</h2>
  
    <!-- Orders Section -->
    <div class="section">
      <h2>Orders</h2>
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>Id</th>
            <th>Order Date</th>
            <th>Menu Item IDs</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.id }}</td>
            <td>{{ order.dateTime }}</td>
            <td>{{ order.menuItemIds.join(', ') }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Menu Items Section -->
    <div class="section">
      <h3>Menu Items</h3>
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Product IDs</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let menu of menus">
            <td>{{ menu.id }}</td>
            <td>{{ menu.name }}</td>
            <td>{{ menu.productIds.join(', ') }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Products Section -->
    <div class="section">
      <h3>Products</h3>
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Portion Count</th>
            <th>Unit</th>
            <th>Portion Size</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.portionCount }}</td>
            <td>{{ product.unit }}</td>
            <td>{{ product.portionSize }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
